<article>

  <section>
    <%= render partial: "admins/admins-navigator",
              locals: {
                current_page_name: "Stats"
              } %>
  </section>

  <title>
    <%=  %>
  </title>

</article>
