<article class="signup-page">

  <% content_for :header_options do %>

    <section class="additional-header-content">
      <a href="/" >
        <%= submit_tag "Sign In", class: "header-button" %>
      </a>
      <a href="/info" >
        <%= submit_tag "About Us", class: "header-button" %>
      </a>
    </section>

  <% end %>

  <h2 class="signing-page-heading">User Sign Up Form</h2>
  <%= render partial: "users/create_user",
             locals: {
               role: "customer",
               button_text: "SIGN UP"
             } %>

</article>
