<article>

  <% content_for :signed_in_header do %>
    <a href="/menus" >
      <%= submit_tag "Menus", class: "header-button" %>
    </a>
    <a href="/orders/pending" >
      <%= submit_tag "Pending Orders", class: "header-button" %>
    </a>
  <%end%>

  <% content_for :admin_header do %>
    <a href="/">
      <%= submit_tag "Back to Home", class:"admin-navigation-button" %>
    </a>
  <%end%>

  <% if @orders.empty? %>
     <h1 class="no-orders-title">No Orders have been placed by you Yet.</h1>
     <h1 class="no-orders-title">Visit Menus to place Orders!</h1>
  <%else%>
    <h1 class="orders-title">All  Orders</h1>
    <%= render partial: "generate-invoice",
              locals: {
                orders: @orders.order(id: :desc),
                role: "customer"
              } %>
  <%end%>

</article>
