<article>

  <section>
    <%= render partial: "admins/admins-navigator",
              locals: {
                current_page_name: "Manage Billers"
              } %>
  </section>

  <section>
    <%= render partial: "users/search_user",
              locals: {
                submit_path: manage_billers_path,
                user: @user
              } %>
    <h3 class="flash-nouser"><%= flash[:alert] %></h3>
    <hr/>
  </section>

  <section>
    <%= render partial: "users/user_details",
              locals: {
                title: "Billers",
                role: "clerk",
                name: nil,
                in_manage_billers_page: true
              } %>
  </section>

</article>
