.manage-menus-title {
  font-size: 30px;
  margin: 60px 0px;
  text-align: center;
}

.addmenu {
  display: flex;
  justify-content: center;
}

.addmenu-inputbar {
  padding: 7px 15px;
  width: 300px;
}

.addmenu-button {
  margin-left: 40px;
  padding: 7px 10px;
  border: 1px solid darkorchid;
  background-color: darkorchid;
  color: white;
  border-radius: 7px;
}

.managemenus-flash-error {
  font-size: 20px;
  text-align: center;
  color: red;
  padding-top: 30px;
}

.menu-details {
  display: grid;
  margin: 50px 250px;
  padding: 10px;
  background-color: white;
  align-items: center;
  justify-content: center;
  grid-template-columns: 40px 400px 80px;
}

.menu-name {
  font-size: 22px;
  padding: 10px;
}

.menu-true-status {
  border: 1px solid rgb(33, 224, 33);
  background-color: rgb(48, 216, 48);
  color: whitesmoke;
  padding: 0px 10px;
  height: 30px;
}

.menu-false-status {
  border: 1px solid rgb(224, 71, 33);
  background-color: rgb(240, 16, 46);
  color: whitesmoke;
  padding: 0px 10px;
  height: 30px;
}
