.manage-menus-title {
  font-size: 30px;
  margin: 60px 0px;
  text-align: center;
}

.addmenu {
  display: flex;
  justify-content: center;
}

.addmenu-inputbar {
  padding: 7px 15px;
  width: 300px;
}

.addmenu-button {
  margin-left: 40px;
  padding: 7px 20px;
  border: 1px solid darkorchid;
  background-color: darkorchid;
  color: white;
  border-radius: 7px;
}

.managemenus-flash-error {
  font-size: 20px;
  text-align: center;
  color: red;
  padding-top: 30px;
}

.menu-details {
  display: grid;
  margin: 50px 250px;
  padding: 10px;
  background-color: white;
  align-items: center;
  justify-content: center;
  grid-template-columns: 40px 500px 80px auto auto;
}

.update-menuname {
  width: 250px;
  padding: 7px 10px;
  font-size: 18px;
  margin-right: 40px;
}

.update-menuname-button {
  width: 200px;
  border: 1px solid rgb(212, 11, 196);
  background-color: rgb(212, 11, 196);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 6px;
}

.flash-updatemenuname-success {
  color: green;
  font-size: 22px;
  text-align: center;
}

.flash-updatemenuname-failure {
  color: red;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.menu-name {
  font-size: 22px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.menu-true-status {
  border: 1px solid rgb(33, 224, 33);
  background-color: rgb(48, 216, 48);
  color: whitesmoke;
  padding: 0px 10px;
  height: 30px;
}

.menu-false-status {
  border: 1px solid rgb(224, 71, 33);
  background-color: rgb(240, 16, 46);
  color: whitesmoke;
  padding: 0px 10px;
  height: 30px;
}

.menu-icon {
  height: 25px;
  width: 25px;
  margin-left: 75px;
  visibility: hidden;
}

.menu-details:hover .menu-icon {
  visibility: visible;
}

.menu-details:hover {
  background-color: rgb(231, 231, 231);
}

.updatemenu-title {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 60px 0px;
  justify-content: center;
}

.addmenuitem-inputbar {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.addmenuitem-name {
  padding: 7px 15px;
}

.addmenuitem-description {
  margin-left: 20px;
  padding: 7px 15px;
  width: 500px;
}

.addmenuitem-price {
  margin-left: 20px;
  padding: 7px 15px;
  width: 120px;
}

.addmenuitem-button {
  margin-left: 30px;
  border: 1px solid darkorchid;
  background-color: darkorchid;
  border-radius: 10px;
  color: white;
  padding: 7px 20px;
}

.flasherror-addmenuitem {
  font-size: 22px;
  color: red;
  text-align: center;
  padding-bottom: 10px;
}

.menuitem-section {
  display: grid;
  grid-template-columns: 50px 300px 500px 200px auto auto;
  margin: 30px 50px;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
}

.menuitem-section:hover {
  background-color: rgb(231, 231, 231);
}

.manage-menuitem-price {
  text-align: center;
}

.menuname-edit-icon {
  margin-left: 20px;
  height: 30px;
  width: 30px;
}

.menuitem-icon {
  height: 25px;
  width: 25px;
  margin-left: 75px;
}

.user-search-bar {
  margin: 30px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-search-input {
  width: 300px;
  padding: 8px 10px;
}

.user-search-button {
  border: 1px solid silver;
  background-color: silver;
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  margin-left: 40px;
  border-radius: 5px;
}

.user-search-button:hover {
  border: 1px solid rgb(192, 177, 44);
  background-color: rgb(192, 177, 44);
}

.cancel-search {
  padding-top: 5px;
  margin-left: 10px;
  height: 25px;
  width: 25px;
}

.make-biller-button {
  border: 1px solid rgb(150, 55, 150);
  background-color: rgb(150, 55, 150);
  border-radius: 4px;
  margin-left: 60px;
  padding: 10px 25px;
  color: white;
  font-size: 18px;
}

.flash-nouser {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  color: red;
}

.list-users-section {
  margin: 50px 0px;
  margin-left: 80px;
}

.list-users-title {
  display: flex;
  margin-top: 15px;
  padding: 20px;
  font-size: 28px;
  align-items: center;
}

.list-users-add-biller-icon {
  height: 32px;
  width: 32px;
  margin-left: 10px;
  padding-top: 5px;
}

.list-users-manage-biller-button {
  padding: 6px 25px;
  border: 1px solid silver;
  background-color: silver;
  border-radius: 20px;
  color: white;
  margin-left: 20px;
}

.list-users-manage-biller-button:hover {
  border: 1px solid rgb(244, 96, 212);
  background-color: rgb(244, 96, 212);
}

.list-users-details {
  display: grid;
  margin-left: 70px;
  margin-right: 20px;
  padding: 8px 0px;
  font-size: 20px;
  grid-template-columns: 350px 500px 350px 280px 100px 100px;
}

.searchuser-data-icon-merge {
  display: grid;
  grid-template-columns: 170px 60px;
  align-items: center;
}

.list-users-details p {
  margin-left: 20px;
}

.list-users-details:hover {
  background-color: whitesmoke;
}

.list-users-details:hover .list-users-updateicon {
  visibility: visible;
}

.list-users-updateicon {
  visibility: hidden;
}

.updateuser-field {
  padding: 6px 10px;
  width: 150px;
}

.updateuser-button {
  padding: 10px 20px;
  color: white;
  border: 1px solid rgb(212, 11, 196);
  background-color: rgb(212, 11, 196);
  font-size: 20px;
  border-radius: 10px;
}

.flash-updateuser-failure {
  color: red;
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}

.flash-updateuser-success {
  color: green;
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}
