body {
  background-color: blanchedalmond;
}

.header {
  padding: 20px;
  border-bottom: 2px solid rgb(87, 90, 90);
  background-color: cadetblue;
}

.header-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 2;
}

.additional-header-content {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-button {
  border: 1px solid salmon;
  background-color: salmon;
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
}

.header-signout-button {
  border: 1px solid rgb(228, 43, 43);
  background-color: rgb(228, 43, 43);
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
}

.header-username {
  font-weight: bold;
  font-size: 22px;
  color: rgb(37, 39, 39);
}

.admin-header-content {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.admin-walkin-description {
  font-size: 22px;
  padding: 10px;
  color: rgb(118, 119, 119);
}

.admin-navigation-button {
  border: 1px solid rgb(91, 157, 233);
  background-color: rgb(91, 157, 233);
  padding: 10px 20px;
  color: white;
  border-radius: 14px;
}

.footer {
  border-top: 2px solid;
  padding: 20px;
  background-color: cadetblue;
}

.footer-rights-section {
  padding: 20px;
}

.rights-copyright {
  font-size: 35px;
  padding-bottom: 5px;
  text-align: center;
}

.rights-allrights {
  font-size: 18px;
  text-align: center;
}

.footer-contact-section {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  font-size: 14px;
}

.contact-content {
  padding: 5px;
}

.contact-info {
  padding: 5px;
  margin-left: 50px;
}

.about-me {
  margin: 300px 50px;
  font-size: 70px;
  text-align: center;
  color: rgb(38, 187, 207);
}
