.home-page {
  margin: 170px 100px;
}

.signup-page {
  margin: 100px 0px;
  margin-left: 100px;
}

.signing-page-heading {
  font-size: 30px;
  margin-bottom: 40px;
  color: darkslateblue;
}

.additional-header-content {
  display: flex;
  justify-content: right;
}

.header-button {
  border: 1px solid salmon;
  background-color: salmon;
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
}

.signing-field-label {
  font-size: 20px;
}

.signing-inputbar {
  margin: 7px auto;
  border: 1px solid;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.signing-button {
  border: 1px solid cornflowerblue;
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  background-color: cornflowerblue;
}

.alternate-signing-field {
  margin-top: 40px;
  font-size: 18px;
}

.flash-error {
  font-size: 18px;
  color: red;
  margin-bottom: 30px;
}
