.menu-title {
  text-align: center;
  font-size: 30px;
  padding: 15px;
  margin: 30px;
}

.flash-error-itemquantity {
  color: red;
  text-align: center;
  font-size: 24px;
}

.menuitems-title {
  font-size: 30px;
  margin: 30px auto;
  margin-left: 10px;
  text-decoration: underline;
}

.menus-grid-container {
  display: grid;
  grid-template-columns: auto;
  margin: 30px;
}

.menus-grid-item {
  font-size: 30px;
  text-align: center;
  padding: 50px 10px;
  background-color: rgb(220, 217, 20);
  color: white;
  margin: auto 30px;
  margin-bottom: 60px;
  text-decoration: underline rgb(220, 217, 20);
}

.menus-grid-item:hover {
  background-color: rgb(192, 190, 79);
  text-decoration: underline rgb(192, 190, 79);
}

.menuitems-grid-container {
  display: grid;
  grid-template-columns: auto auto 630px;
  margin: 30px;
}

.menuitem-cart {
  grid-area: 1/3/1000/4;
  text-align: center;
  padding: 25px 15px;
  background-color: white;
  display: grid;
  grid-template-columns: 50px 200px 100px 100px 120px 20px;
  align-content: flex-start;
}

.cart-title {
  font-size: 30px;
  grid-column: 1/7;
  padding: 25px;
}

.cart-table-heading {
  font-size: 20px;
  padding: 20px 0px;
}

.cart-orderitem {
  text-align: left;
  padding: 10px 0px;
  padding-left: 20px;
}

.cart-orderitem-name {
  text-align: left;
  padding: 10px 0px;
  padding-left: 40px;
}

.cart-removeicon {
  padding-top: 10px;
  padding-left: 10px;
}

.cart-total-label {
  font-size: 18px;
  grid-column: 1/4;
  margin-top: 30px;
}

.cart-total-value {
  font-size: 18px;
  margin-top: 30px;
}

.cart-description {
  color: rgb(129, 124, 124);
  margin-top: 40px;
  grid-column: 1/7;
  padding: 20px 0px;
  font-size: 20px;
  width: 600px;
}

.cart-order-button {
  border: 1px solid rgb(131, 130, 128);
  background-color: rgb(190, 143, 55);
  margin-top: 40px;
  grid-column: 1/7;
  padding: 20px 0px;
  font-size: 28px;
  width: 600px;
}

.cart-order-button:hover {
  border: 1px solid rgb(14, 196, 105);
  background-color: rgb(14, 196, 105);
  color: white;
}

.menuitems-grid-item {
  text-align: center;
  background-color: white;
  margin: 20px 40px;
  padding: 30px 20px;
}

.menuitem-name {
  font-size: 30px;
  padding-bottom: 7px;
}

.menuitem-description {
  padding-bottom: 10px;
}

.menuitem-price {
  font-size: 20px;
  text-align: left;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.menuitem-quantity {
  width: 40px;
}

.menuitem-button {
  display: flex;
  justify-content: right;
}

.menuitem-addbutton {
  font-size: 14px;
  color: white;
  border: 1px solid rgb(155, 148, 155);
  background-color: rgb(155, 148, 155);
  padding: 7px 15px;
  margin: 0px 30px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: underline rgb(155, 148, 155);
}

.menuitem-addbutton:hover {
  border: 1px solid rgb(78, 160, 228);
  background-color: rgb(78, 160, 228);
  text-decoration: underline rgb(78, 160, 228);
}
